.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown blockquote {
  @apply my-6;
}

.markdown ol {
  @apply my-6;
  @apply text-base;
  list-style-type: decimal;
  list-style-position: inside;
}

.markdown ul {
  @apply my-6;
  @apply text-base;
  list-style-type: disc;
  list-style-position: inside;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown a:hover {
  @apply underline;
}

.markdown blockquote {
  font-style: normal;
  font-size: 14px;
  margin-left: 32px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-left: 4px solid #ccc;
  padding-left: 8px;
}

.markdown code {
  font-size: 16px;
  background: #16f38357;
  border-radius: 6px;
  padding: 2px 4px;
}

.markdown kbd {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  font-style: "sans";
  font-size: 11px;
  line-height: 1.5;
  color: #242729;
  text-shadow: 0 1px 0 var(--white);
  background-color: #e4e6e8;
  border: 1px solid #9fa6ad;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgb(12 13 14 / 15%), inset 0 1px 0 0 #fff;
  overflow-wrap: break-word;
}

.markdown img + em {
  font-size: small;
}

.markdown img[title~="\`mermaid\`"] {
  margin: auto;
}

.markdown table,
.markdown th,
.markdown td {
  border: 1px solid #eee;
  border-collapse: collapse;
  font-size: 0.8rem;
}

.markdown table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border: hidden;
}

.markdown th,
.markdown td {
  padding: 10px;
  text-align: left;
}

.markdown tr:nth-child(even) {
  background: transparent;
}

.markdown tr:nth-child(odd) {
  background: #0f0f0f;
}
