.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown a:hover {
  @apply underline;
}

.markdown blockquote {
  font-style: normal;
  font-size: 14px;
  margin-left: 32px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-left: 4px solid #ccc;
  padding-left: 8px;
}

.markdown code {
  font-size: 16px;
  background: #16f38357;
  border-radius: 6px;
  padding: 2px 4px;
}
